@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono&family=Montserrat&display=swap');

// https://coolors.co/fd4569-2ec2ac-c2c2c2
$primary-color: #fd4569;
$secondary-color: #2ec2ac;
$accent1: #c2c2c2;

// $primary-grey: #434d5e;
// $secondary-grey: #798baa;
